#pay-page{
    background: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pay-info{
    height: 40px;
    text-align: right;
    background: #ffffff;
    font-size: 16px;
    line-height: 34px;
    padding-right: 10px;
    margin-bottom: 3px;
}
.pay-info span{
    color: #ff4444;
}
.pay-content{
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 0 10px;
}
.pay-content h3{
    font-size: 14px;
    padding-bottom: 6px;
    border-bottom: 1px solid #dcdcdc;
}
.pay-content .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
    padding: 8px 0;
}
.pay-content .item img{
    width: 35px;
    height: 35px;
}
.pay-content .item .content{
    flex: 1;
    padding: 0 6px;
    font-size: 16px;
    font-weight: 500;
}
.pay-content .item .am-checkbox-input{
    width: 80px;
}